<div class="row">
  <div class="col-md-6">
    <%= simple_form_for(@issue) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.association :feature, as: :hidden %>
        <%= f.association :test_suite, as: :hidden %>
        <%= f.input :title %>
        <%= f.input :description_markdown %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if @issue.feature || @issue.test_suite %>
      <div class="well">
        <h3>Issue related to</h3>
        <p>Test suite: <%= @issue.test_suite.try(:name) %></p>
        <p>Feature: <%= @issue.feature.try(:name) %></p>
      </div>
    <% end %>
  </div>
</div>

