<% content_for :content do %>
  <div class="container">
    <h1>New User</h1>

    <%= simple_form_for(@user, url: user_path) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email %>
        <%= f.input :password %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
<% end %>