<% content_for :content do %>
  <section>
    <div class="container">
      <h1>New User</h1>

      <%= simple_form_for(@new_user, url: user_path) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email %>
          <%= f.input :password %>
          <%= f.input :admin %>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>