<% content_for :content do %>
  <section>
    <div class="container">
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
      <ul>
        <% if @test_suite %>
          <li><%= link_to "Latest test suite", test_suite_path(@test_suite), class: 'btn btn-default' %></li>
        <% end %>
        <li><%= link_to "Test suites", test_suites_path, class: 'btn btn-default' %></li>
        <% if @user.admin %>
          <li><%= link_to "Github Tokens", github_tokens_path, class: 'btn btn-default' %></li>
          <li><%= link_to "Users", users_path, class: 'btn btn-default' %></li>
        <% end %>

      </ul>
      <%= link_to 'Edit', edit_user_path, class: 'btn btn-primary' %>
    </div>
  </section>
<% end %>