<%= simple_form_for(@test_suite) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :users, collection: @users.map { |user| [user.email, user.id] }, input_html: { multiple: true, class: 'js-chosen' } %>
    <%= f.association :github_token, collection: @github_tokens.map { |token| [token.title, token.id] } %>
    <%= f.input :repo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
