<% content_for :content do %>
  <section>
    <div class="container">
    <h2><%= @test_suite.name %></h2>
      <p>
        <%= @test_suite.description %>
      </p>
      <% if @test_suite.repo %>
        <p>
          <%= "Connected to: #{@test_suite.repo}" %>
        </p>
      <% end %>
    </div>
  </section>
  <section>
    <div class="container">
      <h3>Listing Features - <%= link_to 'New Feature', new_test_suite_feature_path(@test_suite), class: 'btn btn-primary btn-xs' %></h3>
      <%= generate_table(
        striped: true,
        data_table: true,
        header: ['Name', ''] + @testers.map { |tester| tester.user.email },
        content: @features.map do |feature|
          [
            feature.name,
            link_to('View', test_suite_feature_path(@test_suite, feature))
          ] +
          @testers.map { |tester| tester.user.last_approved(feature) || '-' }
        end) %>
    </div>
  </section>
  <section>
    <div class="container">
      <h3>Issues</h3>
      <%= render 'issues/issue_list', issues: @issues %>
    </div>
  </section>
  <section>
    <div class="container">
      <%= link_to 'Create issue', new_issue_path(test_suite_id: @test_suite.id), class: 'btn btn-danger' %>
      <%= link_to 'Back', test_suites_path, class: 'btn btn-primary' %>
      <%= link_to 'Edit', edit_test_suite_path(@test_suite), class: 'btn btn-primary' %>
    </div>
  </section>
<% end %>