<% content_for :content do %>
  <section>
    <div class="container">
    <h2><%= @test_suite.name %></h2>
      <p>
        <%= @test_suite.description %>
      </p>
    </div>
  </section>
  <section>
    <div class="container">
      <h3>Listing Features</h3>
      <p>
        <%= link_to 'New Feature', new_test_suite_feature_path(@test_suite) %>
      </p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <% @testers.each do |tester| %>
              <th><%= tester.user.email %></th>
            <% end %>                     
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @features.each do |feature| %>
            <tr>
              <td><%= feature.name %></td>
              <% @testers.each do |tester| %>
                <td><%= tester.user.last_approved(feature) || '-' %></td>
              <% end %>   
              <td><%= link_to 'Show', test_suite_feature_path(@test_suite, feature) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <div class="container">
      <%= link_to 'Back', test_suites_path, class: 'btn btn-primary' %>
      <%= link_to 'Edit', edit_test_suite_path(@test_suite), class: 'btn btn-primary' %>
    </div>
  </section>
<% end %>