<% content_for :content do %>
  <section>
    <div class="container">
    <h1><%= @feature.name %></h1>
    <legend><%= @feature.test_suite.name %></legend>
    
    <%= @feature.description_html.try(:html_safe) %>

    <%= link_to 'Back', test_suite_path(@test_suite), class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_test_suite_feature_path(@test_suite, @feature), class: 'btn btn-primary' %>
    </div>
  </section>
<% end %>